@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: url('./assets/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

img {
  width: 400px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

section {
  display: flex;
  background-color: red;
  width: 100%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 32px;
  padding: 16px;
}

/** HEADER **/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 80px;
}

/** FILTERS **/
.filter-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200px;
  gap: 24px;
  padding: 0 10%;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

select {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  width: 120px;
  height: 32px;
  color: white;
}

option {
  background: rgb(27, 27, 27);
  color: white;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 4px;
  border: 1px solid yellow;
  width: 48px;
  height: 48px;
  color: yellow;
  cursor: pointer;
}

input[type='number'] {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  width: 80px;
  height: 32px;
  padding: 0 8px;
  color: white;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='text'] {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  outline: none;
  width: 400px;
  height: 32px;
  padding: 0 8px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

input[type='radio'] {
  accent-color: yellow;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.search-button {
  cursor: pointer;
}

/** TABLE **/
table {
  font-size: 12px;
  width: 80%;
  border-radius: 12px;
  border: 1px solid white;
  padding: 24px;
  margin-bottom: 24px;
}

th {
  background: rgb(72, 72, 72);
  text-align: center;
  padding: 16px 4px;
}

td {
  text-align: center;
  padding: 16px 4px;
}
